/* reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ********** my css ********** */

@font-face {
  font-family: vikingShit;
  src: url(fonts/Norse-Bold.otf)
}


body {
  height: 100vh;
  font-size: 16px;


  display: flex;
  flex-direction: row;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.company-container {
  height: 100vh;
  width: 40vw;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.logo-bar {
  height: 125px;
  width: 40vw;

  margin-top: 125px;
  padding: 8px;

  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-bar > img {
  height: 90%;
}

.logo-bar > h1 {
  color: white;
  font-size: 4.5rem;
  font-family: vikingShit;
  margin-bottom: -16px;
}

p.photo-credit {
  margin-bottom: 8px;
}

p.photo-credit,
p.photo-credit > * {
  color: white;
}

div.form-container {
  height: 100vh;
  width: 60vw;

  display:flex;
  flex-direction: column;
}

div.info {
  /* height: 35vh; */
  width: 100%;

  padding: 15vh 32px 32px 32px;

  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

div.info * {
  font-size: 1rem;
  font-weight: bold;
}

.mantra {
  margin-top: 16px;
}

form {
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: auto;

  background-color: white;
  padding: 8px 32px 32px 32px;

  position: relative;
  z-index: 10;
  box-shadow: 2px 4px 10px lightgrey;

}

legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 200px;
  width: 40%;

  padding: 0px 64px 4px 0px;

}

.form-row input {
  background-color: white;

  border: solid 1px lightgrey;
  border-radius: 5px;

  padding: 2px 8px;

  font-size: 14px;
}

input[type="password"]:invalid {
  border: solid 1px red;
}

input:focus {
  border: solid 1.5px blue;
  outline: none;
  box-shadow: 1px 1px 5px lightgrey;
}

.form-row label {
  font-size: 10px;
  font-weight: bold;
}

div.button-container {
  /* height: 35vh; */
  width: 100%;

  background-color: whitesmoke;
  padding: 32px 32px 20vh 32px;
}

button[type="submit"] {
  padding: 12px 48px;
  border: none;
  border-radius: 8px;
  background-color: #596D48;
  color: white;
  font-weight: bold;

  box-shadow: 1px 1px 4px lightgrey;
}

p.login {
  margin-top: 24px;
}

p.login > a {
  color: #596D48;
  font-weight: bold;
}